/* HTML and Body styles */
html,
body {
  font-size: $base-font-size;
  font-family: $base-font-family;
  background-color: $white;
  color: $dark-cyan;
}

/* Body Grid */
body {
  display: grid;

}

/* Hidden Property */
.hidden {
  display: none;
}

/*  */
