/* HTML and Body styles */
html,
body {
  width: 100%;
  font-size: $base-font-size;
  font-family: $base-font-family;
  overflow-wrap: break-word;
  background-color: $white;
  color: $dark-cyan;
}

/* Body Grid */
.body-container {
  display: grid;
  grid-template-areas:
    "head-nav"
    "full-nav"
    "guest-info"
    "select-room"
    "content";
  grid-template-rows: auto;
  width: 100%;
}

/* Hidden Property */
.hidden {
  display: none;
}

/*  */
