/* 🎨 Color Palette */
// dark cyan : #002627
$dark-cyan: #002627;
// medium cyan : #4c6767
$light-cyan: #ccd3d3;
// light cyan : #ccd3d3
// dark mahogany : #260100
// rose : #e3c7cb
// white : #ffffff
$white: #ffffff;
// black : #000000

/*  */


/*  */


/*  */


/*  */


/*  */
